* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Segoe UI", sans-serif;
}
pre, textarea {
    font-family: inherit;
}
textarea {
    resize: none;
}
main {
    max-width: 40rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.tasks-prioritize-btn, .tasks-deprioritize-btn, .tasks-prioritize-btn img, .tasks-deprioritize-btn img {
    width: 1rem;
    height: 1rem;
}

ol {
    list-style: none;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task {
    padding: .5rem;
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    gap: 1rem;
    align-items: center;

    border: 1px solid #ccc;
}

.task-content {
    display: grid;
    grid-template-areas: "title time" "description time";
    grid-template-columns: .8fr .2fr;
    grid-gap: .5rem;
    align-items: center;
}
.task-title {
    grid-area: title;
}
.task-description {
    grid-area: description;
    white-space: pre-wrap;
    word-break: break-word;
}
.task-time {
    align-self: end;
    justify-self: end;
    grid-area: time;
}

.task.completed {
    background: lime;
}

.task.prioritized {
    border-color: red;
}