<header>
  <div>
    <nav>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </nav>
  </div>
  <div>
    <h1>
      Kani-ch-op
    </h1>
  </div>
</header>
<main>
  <aside>
    <ul>
      @for (category of productService.getCategories(); track category.id) {
        <li>
          <button (click)="handleCategoryClick(category.name)" [class]="currentCategory() === category.name ? 'active' : ''">
            {{ category.name }}
          </button>
        </li>
      }
    </ul>
  </aside>
  <app-product-list
    [products]="productService.filterProducts(currentCategory())"
    (removeEvent)="productService.removeProduct($event)"
  />
</main>
